@import "./normalize.scss";

:root {
	--color-primary: #49adff;
	--color-primary-hover: #217eff;
	--color-primary-active: #175cb1;
	--color-text: #0f0f0f;
	--color-extra-light: #eeeeee;
	--color-light: #c9c9c9;
	--color-medium: #7d7d7d;
	--color-dark: #424242;

	--color-success: #61b65c;
	--color-error: #e24545;
}

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	color: var(--color-text);
}

section {
	padding: 50px 15px;
}

a {
	color: var(--color-primary);

	&:hover {
		color: var(--color-primary-hover);
		text-decoration: none;
	}

	&:active, a:focus {
		color: var(--color-primary-active);
		text-decoration: none;
	}
}


hr {
	border: transparent;
	height: 1px;
	background-color: var(--color-light);
}

blockquote {
	border-left: 10px solid var(--color-primary);
	padding-left: 30px;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	
	caption, th {
		background-color: var(--color-extra-light);
		padding: 15px;
		border-bottom: 1px solid var(--color-light);
	}
}


td {
	padding: 15px;
	border-bottom: 1px solid var(--color-extra-light);
}

mark {
	background-color: var(--color-primary);
}

label {
	display: inline-block;
	padding: 5px;
}


[type="text"],
[type="email"],
[type="password"],
[type="number"],
[type="tel"],
[type="url"],
[type="search"],
[type="date"],
[type="datetime"],
[type="week"],
[type="month"],
[type="time"],
[type="datetime-local"],
textarea {
	border: 1px solid var(--color-extra-light);
	padding: 10px 15px;
	outline-color: var(--color-primary);
	border-radius: 3px;
	
	&:disabled {
		opacity: .5;
	}
}

.is-valid {
	border-color: var(--color-success);
}

.is-error {
	border-color: var(--color-error);
}

select {
	border: 1px solid var(--color-extra-light);
	padding: 10px 15px;
	outline-color: var(--color-primary);
	background-color: #fff;
}

[type="checkbox"], [type="radio"] {
	display: none;
	
	& + label {
		display: inline-block;
		position: relative;
		padding-left: 1.3em;
	}
}


[type="checkbox"] {
	& + label::before {
		content: "";
		display: inline-block;
		width: .8em;
		height: .8em;
		border: 1px solid var(--color-light);
		margin-right: 5px;
		border-radius: 3px;
		position: absolute;
		left: 0;
	}

	&:checked + label::after {
		content: "\2713";
		display: inline-block;
		position: absolute;
		left: 0.1em;
		height: 0.8em;
		width: 0.8em;
		color: var(--color-primary-active);
	}

	&:disabled + label::after {
		color: #fff;
	}

	&:disabled + label::before {
		background-color: var(--color-light);
	}

	&:disabled + label {
		color: var(--color-medium);
	}
}





[type="radio"] {
		& + label::before {
		content: "";
		display: inline-block;
		width: 0.8em;
		height: 0.8em;
		border: 1px solid var(--color-light);
		margin-right: 5px;
		border-radius: 50%;
		position: absolute;
		left: 0;
	}

	&:checked + label::after {
		content: "";
		display: inline-block;
		position: absolute;
		left: 0.28em;
		bottom: 0.77em;
		height: 0.4em;
		width: 0.4em;
		border-radius: 50%;
		background-color: var(--color-primary-active);
	}

	&:disabled + label::after {
		background-color: #fff;
	}

	&:disabled + label::before {
		background-color: var(--color-light);
	}

	&:disabled + label {
		color: var(--color-medium);
	}
}


[type="submit"],
[type="button"],
[type="reset"],
button {
	background-color: var(--color-primary);
	color: #fff;
	border: transparent;
	border-radius: 3px;
	padding: 10px 15px;
	cursor: pointer;
	margin-bottom: 0.5em;
	margin-right: 0.5em;

	&:hover {
		background-color: var(--color-primary-hover);
	}

	&:focus {
		background-color: var(--color-primary-hover);
	}

	&:disabled {
		background-color: var(--color-light);
		cursor: not-allowed;
	}
}


kbd, code, samp, pre {
	background-color: var(--color-extra-light);
}

kbd, code, samp {
	border: 1px solid var(--color-light);
	padding: 0 3px;
}

pre {
	padding: 10px;
}


/* Flex based grid (nothing fance) */
.container {
	width: 1100px;
	max-width: 100%;
	margin: 0 auto;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.grid > div {
	flex-basis: 100%;
	padding-left: 1em;
	padding-right: 1em;
	flex-shrink: 0;
}

@media (min-width: 768px) {
	.grid > div {
		flex-basis: calc(100% / 3);
		flex-shrink: 1;
		flex-grow: 1;
	}
}

@media (min-width: 1200px) {
	.grid > div {
		flex-basis: calc(100% / 12);
	}
}
